
h1 {
    color: rgb(255, 255, 255);
}
a:link{
    color: white;
}

a:visited{
    color: white;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.grid{ 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}
.item{
    background-color: #ffffff;
}
.footer{
    display:flex;
    justify-content: flex-end
}
body{
    background-color: #dfdfdf;
}
.item:hover p{
    opacity: 1;
    transform: scale(1);
}

.item:hover img{
    
    transform: scale(1.1);
} 